### Introducing Kotosiro Sharing Server

I am excited to announce the release of [Kotosiro Sharing](https://github.com/kotosiro/sharing), a minimalistic Rust implementation of the Delta Sharing server aimed at helping engineers easily host their own Delta Sharing service. In this article, I will provide instructions on how to share your data with cohorts who may have varying technical backgrounds, ranging from data engineers to business intelligence analysts, using self-hosted [Kotosiro Sharing](https://github.com/kotosiro/sharing) server. The instructions are fairly easy and straightforward, and you can easily share your data with cohorts who have different levels of technical expertise. The implementation is currently in the beta phase, and hence, it does not provide a GUI yet. However, this feature will be added in the near future.

### Delta Table Structure

You have [historical data on avocado prices and sales volume in multiple US markets](https://www.kaggle.com/datasets/neuromusic/avocado-prices) stored in your Delta table. Your colleague has come to your desk and asked if they could use the data for further data analytics. The structure of the table is as follows:

In [14]:
%%bash

tree -a ../../data/avocado-table

../../data/avocado-table
├── .part-00000-04d10a18-acde-4d66-bb3b-39f5d0feb689-c000.snappy.parquet.crc
├── .part-00000-c5135c42-2c15-4da5-8cd6-f0fc527dff9c-c000.snappy.parquet.crc
├── .part-00000-c6c1e092-bef3-41a0-8a05-826a33ecff6f-c000.snappy.parquet.crc
├── .part-00000-d7afaec2-4373-4865-ab48-e9f60495b41e-c000.snappy.parquet.crc
├── _delta_log
│   ├── .00000000000000000000.json.crc
│   ├── .00000000000000000001.json.crc
│   ├── .00000000000000000002.json.crc
│   ├── .00000000000000000003.json.crc
│   ├── 00000000000000000000.json
│   ├── 00000000000000000001.json
│   ├── 00000000000000000002.json
│   └── 00000000000000000003.json
├── part-00000-04d10a18-acde-4d66-bb3b-39f5d0feb689-c000.snappy.parquet
├── part-00000-c5135c42-2c15-4da5-8cd6-f0fc527dff9c-c000.snappy.parquet
├── part-00000-c6c1e092-bef3-41a0-8a05-826a33ecff6f-c000.snappy.parquet
└── part-00000-d7afaec2-4373-4865-ab48-e9f60495b41e-c000.snappy.parquet

2 directories, 16 files

The table is partitioned using the `year` column, and each partition is appended sequentially. Therefore, the table has [four different versions](https://docs.databricks.com/delta/history.html) in chronological order.

### Log in to Kotosiro Sharing and Get the Admin Access Token

Now let's get started with the interesting part. As the owner of the data and administrator of your [Kotosiro Sharing](https://github.com/kotosiro/sharing) server, you need to log in to the system and obtain the admin access token. This token will enable you to create a [share](https://github.com/delta-io/delta-sharing/blob/main/PROTOCOL.md#concepts). Here's how you can obtain the token:

In [15]:
%%bash

curl -s -X POST http://localhost:8080/admin/login \
     -H "Content-Type: application/json" \
     -d '{"account": "kotosiro", "password": "password"}' \
     | jq '.'

{
  "profile": {
    "shareCredentialsVersion": 1,
    "endpoint": "http://127.0.0.1:8080",
    "bearerToken": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJuYW1lIjoia290b3Npcm8iLCJlbWFpbCI6ImtvdG9zaXJvQGVtYWlsLmNvbSIsIm5hbWVzcGFjZSI6ImFkbWluIiwicm9sZSI6ImFkbWluIiwiZXhwIjoxNjgxODI1OTkyfQ.KsCF4b9rMyvavxkK6kBn2V1sU2LuKjWRpKSyfECriGw",
    "expirationTime": "2023-04-18 13:53:12 UTC"
  }
}

### Register a New Share

Next, you need to register a new [share](https://github.com/delta-io/delta-sharing/blob/main/PROTOCOL.md#concepts), which is simply a logical grouping used to share with [recipients](https://github.com/delta-io/delta-sharing/blob/main/PROTOCOL.md#concepts). For example, you can name your share `share1`. Note that this [share](https://github.com/delta-io/delta-sharing/blob/main/PROTOCOL.md#concepts) is currently empty, meaning that you haven't added any data to it yet. Here's how you can create the [share](https://github.com/delta-io/delta-sharing/blob/main/PROTOCOL.md#concepts):

In [16]:
%%bash

curl -s -X POST "http://localhost:8080/admin/shares" \
     -H "Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJuYW1lIjoia290b3Npcm8iLCJlbWFpbCI6ImtvdG9zaXJvQGVtYWlsLmNvbSIsIm5hbWVzcGFjZSI6ImFkbWluIiwicm9sZSI6ImFkbWluIiwiZXhwIjoxNjgxODI1OTkyfQ.KsCF4b9rMyvavxkK6kBn2V1sU2LuKjWRpKSyfECriGw" \
     -H "Content-Type: application/json" \
     -d'{ "name": "share1" }' \
     | jq '.'

{
  "share": {
    "id": "3421757d-e151-4ca9-b540-d14fc0fe3059",
    "name": "share1"
  }
}

### Register a New Table

In [17]:
%%bash

curl -s -X POST "http://localhost:8080/admin/tables" \
     -H "Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJuYW1lIjoia290b3Npcm8iLCJlbWFpbCI6ImtvdG9zaXJvQGVtYWlsLmNvbSIsIm5hbWVzcGFjZSI6ImFkbWluIiwicm9sZSI6ImFkbWluIiwiZXhwIjoxNjgxODI1OTkyfQ.KsCF4b9rMyvavxkK6kBn2V1sU2LuKjWRpKSyfECriGw" \
     -H "Content-Type: application/json" \
     -d'{ "name": "table1", "location": "s3://kotosiro-sharing-example/avocado" }' \
     | jq '.'

{
  "table": {
    "id": "006710f6-bacd-43a4-8889-0970ced4daa7",
    "name": "table1",
    "location": "s3://kotosiro-sharing-example/avocado"
  }
}

# Register a New Table as a Part of `schema1` in the `share1`

In [18]:
%%bash

curl -s -X POST "http://localhost:8080/admin/shares/share1/schemas/schema1/tables" \
     -H "Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJuYW1lIjoia290b3Npcm8iLCJlbWFpbCI6ImtvdG9zaXJvQGVtYWlsLmNvbSIsIm5hbWVzcGFjZSI6ImFkbWluIiwicm9sZSI6ImFkbWluIiwiZXhwIjoxNjgxODI1OTkyfQ.KsCF4b9rMyvavxkK6kBn2V1sU2LuKjWRpKSyfECriGw" \
     -H "Content-Type: application/json" \
     -d'{ "table": "table1" }' \
     | jq '.'

{
  "schema": {
    "id": "c9a6a49f-4a1c-4955-ad04-93c58fa43c97",
    "name": "schema1"
  }
}

# Issue a New Recipient Profile

In [19]:
%%bash

curl -s -X GET "http://localhost:8080/admin/profile" \
     -H "Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJuYW1lIjoia290b3Npcm8iLCJlbWFpbCI6ImtvdG9zaXJvQGVtYWlsLmNvbSIsIm5hbWVzcGFjZSI6ImFkbWluIiwicm9sZSI6ImFkbWluIiwiZXhwIjoxNjgxODI1OTkyfQ.KsCF4b9rMyvavxkK6kBn2V1sU2LuKjWRpKSyfECriGw" \
     -H "Content-Type: application/json" \
     | jq '.'

{
  "profile": {
    "shareCredentialsVersion": 1,
    "endpoint": "http://127.0.0.1:8080",
    "bearerToken": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJuYW1lIjoia290b3Npcm8iLCJlbWFpbCI6ImtvdG9zaXJvQGVtYWlsLmNvbSIsIm5hbWVzcGFjZSI6ImFkbWluIiwicm9sZSI6Imd1ZXN0IiwiZXhwIjoxNjgxODI2MDU2fQ.BwkXF8mcYbWcUcTelXUUP1RqvSqt6K5uU6KHEmoUoEQ",
    "expirationTime": "2023-04-18 13:54:16 UTC"
  }
}

# Create Sharing Clinet

In [20]:
import delta_sharing

profile = "../../creds/profile.json"
client = delta_sharing.SharingClient(profile)

# List Tables

In [21]:
client.list_all_tables()

[Table(name='table1', share='share1', schema='schema1')]

# Load Tables

In [25]:
url = profile + "#share1.schema1.table1"
delta_sharing.load_as_pandas(url, limit=100)

,row,date,average_price,total_volume,4046,4225,4770,total_bags,small_bags,large_bags,xlarge_bags,type,year,region
0,0,2015-12-26 15:00:00,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.00,conventional,2015,Albany
1,1,2015-12-19 15:00:00,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.00,conventional,2015,Albany
2,2,2015-12-12 15:00:00,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.00,conventional,2015,Albany
3,3,2015-12-05 15:00:00,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.00,conventional,2015,Albany
4,4,2015-11-28 15:00:00,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.00,conventional,2015,Albany
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,43,2015-02-28 15:00:00,0.99,512532.44,441544.00,21183.70,347.78,49456.96,32180.90,17273.38,2.68,conventional,2015,Atlanta
96,44,2015-02-21 15:00:00,1.10,431308.56,369316.29,18324.76,237.47,43430.04,33423.74,10006.30,0.00,conventional,2015,Atlanta
97,45,2015-02-14 15:00:00,1.06,427391.28,364446.77,17420.41,638.18,44885.92,26727.66,18158.26,0.00,conventional,2015,Atlanta
98,46,2015-02-07 15:00:00,1.03,433883.91,377256.38,17162.50,524.85,38940.18,18044.41,20895.77,0.00,conventional,2015,Atlanta
99,47,2015-01-31 15:00:00,0.96,636771.37,553198.56,31583.38,294.94,51694.49,10553.73,41140.76,0.00,conventional,2015,Atlanta